{% extends 'base.html' %}

{% block title %}
<title>Count Taxi_price</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Count Taxi_price</h1>
    <p class="text-center">Для рассчета заполните соответствующие графы формы ниже и нажмите "OK"</p>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><p><img src="static/images/auto_d2.png" width="339" height="300" class="d-inline-block align-top" alt="auto-vs-taxi" ></p></td>
                <td>Otto</td>
            </tr>
            <tr>
                <td><p><img src="static/images/taxi_d2.png" width="313" height="183" class="d-inline-block align-top" alt="auto-vs-taxi" ></p></td>
                <td>Thornton</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}



