{% extends 'base.html' %}

{% block title %}
<title>Taxi_price</title>
{% endblock %}

{% block body %}
<h1>Taxi_price</h1>
<p><img src="static/images/auto_vs_taxi.png" width="1500" height="600" class="d-inline-block align-top" alt="auto-vs-taxi" ></p>
<div class="container">
  <p class="text-center">Приложение позволяет сравнить свои затраты на эксплуатацию авто, если вы конечно ведете
                        статистику, с затратами на такси при тех же пробегах.</p>
  <p class="h3" align="center"><a class="nav-link" href="count">Рассчитать</a></p>

</div>
{% endblock %}



